* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #282828;
}

.container {
    width: 80rem;
    background-color: #087099;
    margin: 0 auto;
    border-left: 0.5rem #F0F0F0;
    border-right: 0.5rem #F0F0F0;
}